<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>クイズアプリ</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster+Two">
  </head>
  <body>
    <div class="container">
      <h3>Life is Tech! Quiz</h3>
      <p><%= @questions[@number][0] %></p>
      <form action="/question/check/<%= @number %>" method="post">
        <input type="radio" name="select_answer" value="1"><%= @questions[@number][1] %>
        <input type="radio" name="select_answer" value="2"><%= @questions[@number][2] %>
        <input type="radio" name="select_answer" value="3"><%= @questions[@number][3] %>
        <input type="radio" name="select_answer" value="4"><%= @questions[@number][4] %><br>
        <button type="submit">つぎへ</button>
      </form>
    </div>
  </body>
</html>
